{% extends "network/layout.html" %}

{% block body %}

    <h1 class="title">Login</h1>

    <br>

    {% if message %}
        <div class="pb-4">{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input autofocus id="username-input" type="text" class="form-control" name="username">
            <label for="username-input" class="form-label">Username</label>
        </div>
        <div class="form-floating mb-4">
            <input id="password-input" type="password" class="form-control" name="password">
            <label for="password-input" class="form-label">Password</label>
        </div>
        <button type="submit" class="btn btn-primary px-5">Login</button>
    </form>

    <br>

    Don't have an account? <a href="{% url 'register' %}" style="text-decoration: none;">Register here.</a>

{% endblock %}
